@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

* {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  font-family: Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
